:root {
  --primary: #5465FF;
  --white: #f7f7f7;
  --black: #2b2d42;
}

body {
  margin: 0 0;
  padding: 0 0;
  background-color: var(--black);
  font-family: 'Montserrat', sans-serif;
}

.box {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 90vw;
  height: 90vh;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
}

.box-header {
  width: 90%;
  height: 10%;
  padding: 0 5%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.box-header-child {
  background: #39313F;
  box-shadow: inset 0px 0px 4px 4px rgba(0, 0, 0, 0.25), inset 0px -3px 4px -5px rgba(0, 0, 0, 0.25);
  border-radius: 8px;
  border: 6px #612c29 solid;
  width: 12%;
  height: calc(100% - 12px);
  bottom: -12%;
  position: relative;
  margin-right: 16px;
  cursor: pointer;
  color: #f7f7f7;
}

.box-header-child:last-of-type {
  margin-right: 0px;
}

.box-header-child:hover {
  background: #e74c3c;
  color: #EAEAEA;
}

.box-header-child:active {
  background: #c0392b;
  color: #EAEAEA;
}

.box-header-child p {
  font-weight: 600;
  text-align: center;
  width: 100%;
  height: 100%;
}

.box-content {
  background: #532727;
  box-shadow: inset 0px 0px 4px 4px rgba(0, 0, 0, 0.25), inset 0px -3px 4px -5px rgba(0, 0, 0, 0.25);
  border-radius: 8px;
  border: 12px #612c29 solid;
  width: calc(100% - 24px);
  height: calc(90% - 24px);
}