:root {
  --primary: #5465FF;
  --white: #f7f7f7;
  --black: #2b2d42;
}

body {
  margin: 0 0;
  padding: 0 0;
  background-color: black;
  font-family: 'Montserrat', sans-serif;
}

header {
  background-color: var(--white);
  width: calc(100vw - 40px);
  height: 80px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  right: 0px;
  position: fixed;
}

header img {
  width: auto;
  height: 70%;
}

header .right-elements {
  display: flex;
  flex-direction: row;
  width: 80%;
  height: 100%;
  align-items: center;
  justify-content: flex-end;
}

header .right-elements img {
  transition: .2s linear;
  cursor: pointer;
  width: auto;
  height: 30%;
  margin-right: clamp(8px, 1.5vw, 16px);
  filter: invert(14%) sepia(8%) saturate(2740%) hue-rotate(197deg) brightness(97%) contrast(87%);
}

header .right-elements h2 {
  transition: .2s linear;
  color: var(--black);
  font-size: 1.2em;
  font-weight: 600;
  cursor: pointer;
  margin-right: clamp(8px, 2vw, 24px);
}

header .right-elements h2:hover {
  color: var(--primary);
}

header .right-elements img:hover {
  filter: invert(52%) sepia(43%) saturate(6699%) hue-rotate(218deg) brightness(93%) contrast(119%)
}

header .right-elements .social {
  display: flex;
  flex-direction: row;
  height: 100%;
  align-items: center;
  justify-content: space-between;
}