:root {
  --primary: #5465FF;
  --white: #f7f7f7;
  --black: #2b2d42;
}

body {
  margin: 0 0 !important;
  padding: 0 0 !important;
  background-color: var(--black);
  font-family: 'Montserrat', sans-serif;
}

.box {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 90vw;
  height: 90vh;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
}

.box-header {
  width: 80%;
  height: 10%;
  padding: 0 10%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  -webkit-user-select: none;  
  -moz-user-select: none;     
  -ms-user-select: none;      
  user-select: none;  
}

.box-header-child {
  background: #39313F;
  box-shadow: inset 0px 0px 4px 4px rgba(0, 0, 0, 0.25), inset 0px -3px 4px -5px rgba(0, 0, 0, 0.25);
  border-radius: 8px;
  border: 6px #612c29 solid;
  flex-grow: 1;
  height: calc(100% - 12px);
  bottom: -15%;
  max-width: 150px;
  position: relative;
  margin-right: 16px;
  cursor: pointer;
  color: rgba(247, 247, 247, .5);
  text-transform: capitalize;
  transition: .2s;
  z-index: 1;
}

.box-header-child:last-of-type {
  margin-right: 0px;
}

.box-header-child:hover {
  transform: translateY(-5px);
  height: 110%;
  /* background: #e74c3c; */
  /* color: #EAEAEA; */
}

.box-header-child#active-tab-header {
  animation: .5s animation-select-tab-header ease-in-out forwards;
}

.box-header-child#inactive-tab-header {
  animation: .5s animation-unselect-tab-header ease-in-out forwards;
}

@keyframes animation-select-tab-header {
  50% {
    transform: translateY(100%);
  }
  100% {
    transform: translateY(0);
    color: #EAEAEA;
    background: #c0392b;
  }
}

@keyframes animation-unselect-tab-header {
  50% {
    transform: translateY(100%);
  }
  100% {
    transform: translateY(0);
    color: rgba(247, 247, 247, .5);
    background: #39313F;
  }
}

.box-header-child p {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-weight: 600;
  text-align: center;
  font-size: 2vw;
  margin: 0 0;
}

.box-content {
  background: #532727;
  box-shadow: inset 0px 0px 4px 4px rgba(0, 0, 0, 0.25), inset 0px -3px 4px -5px rgba(0, 0, 0, 0.25);
  border-radius: 8px;
  border: 12px #612c29 solid;
  width: calc(100% - 24px);
  height: calc(90% - 24px);
  z-index: 2;
}

.box-content-child {
  width: 100%;
  height: 100%;
  display: none;
}

.box-content-child#active-tab-content {
  display: block;
}